
<pre><code>&lt;img src=".." alt="Image description"&gt;</code></pre>

<p>
    If the image is decorative and does not convey any information to the
    surrounding content, however, you may leave this "alt" attribute empty.
</p>

<pre><code>&lt;img src=".." alt=""&gt;</code></pre>
<p>
	Impact: <strong>{{impact}}</strong>
</p>
