<div class="tota11y-axe-summary">
    <p>The following rules were included in the scan:</p>
    <dl>
    {{#each rules}}<dt>{{this.ruleId}}:</dt> <dd>{{this.description}}</dd>{{/each}}
    </dl>
</div>