<div class="tota11y-axe-about">
    <p><strong>Rules Violated: <span class="tota11y-info-error-count">{{violations}}</span></strong></p>
    <p>The following rules were included in the scan:</p>
    <dl>
    {{#each rules}}<dt>{{this.ruleId}}:</dt> <dd>{{this.description}}</dd>{{/each}}
    </dl>
</div>